.sidebar-container {
  width: 10rem;
  height: 100vh;
  background-color: #ecf2f3;
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-img {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  margin-top: 2rem;
}
